{% extends 'portfolio/base.html' %}

{% load static %}
{% block navbar %}
{% with current_page='home' %}
{{ block.super }}
{% endwith %}
{% endblock navbar %}

{% block custom_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/style.css' %}">
{% endblock custom_styles %}

{% block content %}

<div class="row mt-5">
    <div class="col-12">
        <h1> Hi! <br> I'm Daril Nofriansyah </h1>
        <br>
        <h5>An undergraduate IT student striving to become a <strong>Full-Stack Developer</strong>.</h5>
    </div>
    <div class="col-12 mt-5">
        <a class="btn" href="#">
            <span>Learn More</span>
        </a>
    </div>
</div>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}