.navbar-light .navbar-nav .nav-link{
    color: black;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
    background-image: linear-gradient(to right, #0088DD 0%, #00CCFF 100%);
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
}