*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

h1{
    font-size: 80px;
    font-weight: bold;
}

h5{
    font-weight: normal;
    font-size: 25px;
}

/*https://codepen.io/amberweinberg/pen/dzJERg*/

.btn {
    background-image: linear-gradient(to right, #0088DD 0%, #00CCFF 100%);
    border-radius: 40px;
    color: black;
    display: block;
    height: 80px;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 5px;
    position: relative;
    width: 264px;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn:hover {
    color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn span {
    align-items: center;
    background: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background .5s ease;
    width: 100%;
}

.btn:hover span {
    background: transparent;
}