<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">daril nofriansyah.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3 {% if current_page == 'profile' %} active {% endif %}">
          <a class="nav-link" href="#">profile</a>
        </li>
        <li class="nav-item mr-3 {% if current_page == 'projects' %} active {% endif %}">
          <a class="nav-link" href="#">projects</a>
        </li>
        <li class="nav-item mr-3 {% if current_page == 'contacts' %} active {% endif %}">
          <a class="nav-link" href="#">contacts</a>
        </li>
      </ul>
    </div>
  </nav>